{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Something went wrong...</h1>
    <h1 class="text-center">{{ exception.message }}</h1>

    <div class="text-center">
        <a href="{{ path('home_page') }}" >
            <img src="{{ asset('images/error_gomer.jpg') }}">
            <h3>Click Gomer to get Home</h3></a>
    </div>
{% endblock %}
